<div class="row leftRightHeight">
  <div class="col-sm-12 item-scroll">
    <h3>Please enter the below details:</h3>
    <br>

    <table>

      <tr>
        <td>Card Number: </td>
        <td>
            <input type="text" id="giftCardNumber" [(ngModel)]="giftCardNumber" name="giftCardNumber" value="giftCardNumber" placeholder="Enter Gift Card Number">
        </td>
      </tr>

      <!--<tr>
        <td>Expiry Date: </td>
        <td>
          <select id="giftCardExpDate" [(ngModel)]="giftCardExpDate" name="giftCardExpDate" value="giftCardExpDate">
            <option>---select month---</option>
            <option>Jan</option>
            <option>Feb</option>
            <option>Mar</option>
            <option>Apr</option>
            <option>May</option>
            <option>Jun</option>
            <option>Jul</option>
            <option>Aug</option>
            <option>Sep</option>
            <option>Oct</option>
            <option>Nov</option>
            <option>Dec</option>
          </select>
        </td>
      </tr>-->

      <tr>
          <td>Expiry Date: </td>
          <td>
            <!--<input type="month">-->
            <input type="month" id="giftCardExpDate" [(ngModel)]="giftCardExpDate" name="giftCardExpDate" value="giftCardExpDate" placeholder="Enter Card Expiry Date">
          </td>
        </tr>

      <tr>
        <td>Card Code: </td>
        <td>
            <input type="text" id="giftCardCode" [(ngModel)]="giftCardCode" name="giftCardCode" value="giftCardCode" placeholder="Enter Gift Card Code">
        </td>
      </tr>

      <tr>
        <td colspan=2 align="center">
            <button type="submit" class="btn btn-primary mb-2" (click)="passGiftCardDetails(memberId)" >Submit</button>
        </td>
      </tr>

    </table>
  </div>
</div>